@media screen and (min-width:800px){
    header.header{
        display:flex;
        background:#CCCCFF;
        justify-content:space-around;
    }
    header.header img.img{
        width: 50px;
        height: 50px;
    }
    main.main{
        text-align: center;
    }
    th,td {
        border: solid 1px;  /* 枠線指定 */
        padding: 10px;      /* 余白指定 */
    }
     
    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse:  collapse; /* セルの線を重ねる */
    }
    
    .button {
        display       : inline-block;
        border-radius : 5%;          /* 角丸       */
        font-size     : 8pt;        /* 文字サイズ */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 12px 12px;   /* 余白       */
        background    : #1a1aff;     /* 背景色     */
        color         : #ffffff;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        transition    : .3s;         /* なめらか変化 */
        border        : 2px solid #1a1aff;    /* 枠の指定 */
      }
      .button:hover {
        color         : #1a1aff;     /* 背景色     */
        background    : #ffffff;     /* 文字色     */
      }

    div.container main.main table#testTable{
        margin: auto;    
    }
    footer.footer{
        display:flex;
        background:#CCCCFF;
        justify-content:space-around;
    }
}

@media screen and (max-width:799px){
    header.header{
        display:flex;
        background:#CCCCFF;
        justify-content:space-around;
    }

    header.header img.img{
        width: 50px;
        height: 50px;
    }

    div.container .main.main{
        text-align: center;
        padding: 50px;
     }
    th,td {
        border: solid 1px;  /* 枠線指定 */
        padding: 10px;      /* 余白指定 */
    }
    .button {
        display       : inline-block;
        border-radius : 5%;          /* 角丸       */
        font-size     : 8pt;        /* 文字サイズ */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 12px 12px;   /* 余白       */
        background    : #1a1aff;     /* 背景色     */
        color         : #ffffff;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        transition    : .3s;         /* なめらか変化 */
        border        : 2px solid #1a1aff;    /* 枠の指定 */
      }
      .button:hover {
        color         : #1a1aff;     /* 背景色     */
        background    : #ffffff;     /* 文字色     */
      }
    table {
        border-collapse:  collapse; /* セルの線を重ねる */
        width: 140px;
    }
    footer.footer{
        padding: 0px;
        margin: 0px;
        display:flex;
        background:#CCCCFF;
        justify-content:space-around;
    }
}

@media print{
    table{
        margin-right: auto;
        margin-left: auto;
        border-collapse:  collapse; /* セルの線を重ねる */
    }

    th,td {
        border: solid 1px;  /* 枠線指定 */
        padding: 10px;      /* 余白指定 */
    }
    
    main.main{
        text-align: center;
    }
}
