@media screen and (min-width:800px){
    header.header{
        display:flex;
        background:#00FF00;
        justify-content:space-around;
    }
    header.header img.img{
        width: 50px;
        height: 50px;
    }
    main.main{
        text-align: center;
    }
    th,td {
        border: solid 1px;  /* 枠線指定 */
        padding: 10px;      /* 余白指定 */
    }
     
    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse:  collapse; /* セルの線を重ねる */
    }
    
    .button{
        color: #fff;
        background-color: #eb6100;
        border-radius: 100vh;
    }

    div.container main.main table#testTable{
        margin: auto;    
    }
    footer.footer{
        display:flex;
        background:#00FF00;
        justify-content:space-around;
    }
}

@media screen and (max-width:799px){
    header.header{
        display:flex;
        background:#00FF00;
        justify-content:space-around;
    }

    header.header img.img{
        width: 50px;
        height: 50px;
    }

    div.container{
        background: #EEEEEE;
    }
    div.container .main.main{
        text-align: center;
        padding: 50px;
        background: #EEEEEE;
     }
     th,td {
        border: solid 1px;  /* 枠線指定 */
        padding: 10px;      /* 余白指定 */
    }
     
    table {
        border-collapse:  collapse; /* セルの線を重ねる */
        width: 140px;
    }
    footer.footer{
        padding: 0px;
        margin: 0px;
        display:flex;
        background:#00FF00;
        justify-content:space-around;
    }
}

@media print{
    table{
        margin-right: auto;
        margin-left: auto;
        border-collapse:  collapse; /* セルの線を重ねる */
    }

    th,td {
        border: solid 1px;  /* 枠線指定 */
        padding: 10px;      /* 余白指定 */
    }
    
    main.main{
        text-align: center;
    }
}
